@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.main-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 420px;
  
  &-unity {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
    background: url('../../../assets/main_images/rings_banner.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    &-content {
      margin: 0 20px;
    }   

    h1 {
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 0.1em;
      color: #fff;
      font-family: Playfair Display;
      margin-bottom: 10px;
    }
  }

  .slider-pagination {
    position: relative;
    top: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    & span {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      

      & + span {
        margin-left: 10px;
      }

      &.active {
        border: 1px solid #D5A368;
      }
    }
  }

  .circle-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #D5A368;
    margin-right: 12px;
  }
}