.classic-bridal {
  background: #472138;
  padding: 45px 35px;

  h4 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0.1em;
    color: #D5A368;
  }

  p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 152.62%;
    letter-spacing: 0.1em;
    margin: 20px 0;
    color: #fff;
  }
}