.classic-bridal {
  background: #472138;  
  display: flex;
  flex-direction: column;

  &-description {
    padding: 35px 35px 60px;
  }

  h4 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0.1em;
    color: #D5A368;
  }

  p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 152.62%;
    letter-spacing: 0.1em;
    margin: 20px 0;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .classic-bridal {
    padding: 0;
    display: flex;
    flex-direction: row;

    &-description {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;

      h4 {
        font-weight: bold;
        font-size: 80px;
        line-height: 96px;
        max-width: 300px;
        align-self: baseline;
        letter-spacing: 0.1em;
      }

      p {
        max-width: 574px;
      }
      
      .flex-v {
        align-self: baseline;
      }
    }
  }
}