// Colors
$black: rgba(0,0,0,1);
$black-light-1: rgba(51, 51, 51, 1);
$black-light-2: rgba(90, 90, 90, 1);

$gray: rgba(153, 153, 153, 1);
$gray-light: rgba(212, 212, 212, 1);

$white: rgba(255, 255, 255, 1);
$white-dark: rgba(242, 242, 242, 1)

$gold: rgba(213, 163, 104, 1);
$yellow-light: rgba(249, 239, 228, 1);

$violet-dark: rgba(71, 33, 56, 1);