//colors 

$dark-color-primary: #000;
$dark-color-secondary: #333;
$light-color-primary: #fff;
$light-color-secondary: #F2F2F2;
$yellow-color-primary: #D5A368;
$border-color-gray-primary: #DBDBDB;
$border-color-gray-secondary: #5A5A5A;
