.collections {
  font-family: "Raleway", sans-serif;
  background-color: $yellow-color-primary;
  padding: 175px 0 68px;

  @include breakpoint-xs {
    padding: 41px 0 50px;
    min-height: 0;
  }

  > div {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-family: "Playfair Display", sans-serif;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 4px;

    @include breakpoint-xs {
      font-size: 42px;
    }
  }

  &__list {
    padding-top: 93px;

    @include breakpoint-xs {
      padding-top: 22px;
      display: flex;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      margin-bottom: 49px;

      @include breakpoint-xs {
        margin-bottom: 0;
        margin-right: 20px;
      }

      > a {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 24px;
        color: $dark-color-primary;
        letter-spacing: 4px;

        &:hover {
          color: $yellow-color-secondary;

          &::after {
            content:"";
            display: inline-block;
            width: 110px;
            height: 1px;
            background: $yellow-color-secondary;
            margin-left: 60px;
          }
        }

        @include breakpoint-xs {
          font-size: 14px;
        }
      }

      &--link {
        > a {
          display: flex;
          align-items: center;
          text-decoration: none;
          text-transform: uppercase;
          color: $dark-color-primary;
          letter-spacing: 2px;
          margin-top: 20px;

          @include breakpoint-xs {
            font-size: 14px;
            justify-content: center;
          }

          &::before {
            content: url("/assets/images/arrow-full-black.svg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 45px;
            width: 45px;
            margin-right: 12px;
          }
        }
      }

      &__image {
        position: absolute;
        top: -14px;
        left: 283px;
        z-index: -1;
        content: url("/assets/images/collections-image-1.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 810px;
        height: auto;

        @include breakpoint-xs {
          position: static;
          width: 280px;
          height: 200px;
          margin-top: 10px;
          display: block;
        }
      }

      &__bg {
        @include breakpoint-xs {
          display: none;
        }
      }
    }
  }
}
