header {
  @include breakpoint-xs {
    display: flex;
    justify-content: space-between;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;

    &__find {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background: transparent;
        border: 1px solid $border-color-gray-primary;
        font-family: "Raleway", sans-serif;
        color: $dark-color-primary;
        font-weight: 500;
        letter-spacing: 2px;
        border-radius: 50px;
        padding: 10px 18px;
        cursor: pointer;

        &::before {
          content: url("/assets/images/location.svg");
          background-repeat: no-repeat;
          background-size: cover;
          height: 19px;
          width: 22px;
          margin-right: 10px;
        }

        @include breakpoint-xs {
          display: none;
        }
      }
    }

    &__icons {  
      &__list {
        display: flex;
        align-items: center;

        &__item {
          margin: 0 10px;

          &:nth-child(1) {
            @include breakpoint-xs {
              display: none;
            }
          }

          &:nth-child(2) {
            @include breakpoint-xs {
              display: none;
            }
          }

          > a {
            display: flex;
            text-decoration: none;
            color: $dark-color-primary;
          }

          &--user {
            content: url(/assets/images/user.svg);

            @include breakpoint-xs {
              display: none;
            }
          }

          &--heart {
            content: url(/assets/images/heart.svg);

            @include breakpoint-xs {
              display: none;
            }
          }

          &--bgcartshop {
            content: url(/assets/images/bagcartshop.svg);
          }

          &--find {
            content: url(/assets/images/find.svg);
            margin-left: 30px;
            border: 1px solid $border-color-gray-primary;
            background: $light-color-secondary;
            border-radius: 50px;
            padding: 12px;

            @include breakpoint-xs {
              margin-left: 0;
              padding: 0;
              border: 0;
              border-radius: 0;
              background: transparent;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }

  .header__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint-xs {
      order: -1;
      flex-flow: row-reverse;
    }

    &__logo {
      img {
        @include breakpoint-xs {
          width: 158px;
          height: auto;
        }
      }
    }

    &__menu {
      @include breakpoint-xs {
        margin-left: 44px;
      }

      @include breakpoint-xs {
        > nav {
          height: 10vh;
          position: relative;
        }
      }

      ul {
        display: flex;

        li {
          margin: 30px;

          a {
            text-decoration: none;
            color: $dark-color-primary;
            font-family: "Raleway", sans-serif;
          }
        }
      }
    }
  }
}
