.instagram {
  padding: 60px 0;
  background-color: $light-color-secondary;

  &__title {
    text-align: center;
    font-family: "Playfair Display", sans-serif;

    > h3 {
      font-size: 80px;
      font-weight: bold;
      letter-spacing: 6px;
      color: #472138;

      @include breakpoint-xs {
        font-size: 42px;
      }

      &::before {
        content: url("/assets/images/instagram-orange.svg");
        margin-right: 20px;
      }
    }

    > p {
      font-size: 36px;
      margin: 20px 0;
    }
  }
}
