@import
  'abstracts/variables';


.category{
    

    .category-carrousel-item{
        background-image: url('../../images/category-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;

        margin-right: 20px;

        .carrousel-follow-link{
            padding-top: 100px;
            padding-bottom: 100px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            color: $white;

            // .carrousel__image{
            //     width: 80%;
            // }
        }
    }
}