@import "abstracts/variables";

.for-you {
  margin-bottom: 30px;
  .for-you-content {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .for-you-content__title {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 216px;
      text-align: center;
      line-height: 42px;
      color: $violet-dark;
    }
  }

  .for-you-carrousel {
    .for-you-carrousel-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      .carrousel__image {
        // width: 50%;
        width: 133px;
        transition: all linear 0.4s;
      }

      .carrousel__description {
        margin-top: 20px;
        @include font("Raleway", sans-serif, normal, 300, 18px);
        letter-spacing: 0.1em;
        text-align: center;
      }
    }

    .slick-center .carrousel__image {
      transform: scale(1.3);
    }
  }
}
