@import
  'abstracts/variables';


.header{

    .header-sub{
        display: flex;
        justify-content: space-between;

        margin-top: 20px;

        .find-a-store{
            display: none;
        }
        
        .smart-age__logo{
            width: 160px;
            margin-left: 60px;
        }
        
        .user-and-search{
            display: flex;
            margin-right: 20px;
            
            .user-area{
    
                .user,
                .like{
                    display: none;
                }
            }

            .search{
                margin-left: 40px;
            }
        }

        .hamburger__icon{
            position: absolute;
            left: 5px;
            top: 8px;
            z-index: 2;
            padding: 15px;
        }
    }

    .hamburger-nav{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        display: none;
        // margin-bottom: 20px;
        
        .nav-items{
            width: 80%;
            // margin-left: 20px;

            .nav-item{
                border-top: solid 0.8px $gold;

                .item__link{
                    @include font('Raleway', sans-serif, normal, 400, 14px);
                    letter-spacing: 0.2em;

                    color: $black;
                    display: block;
                    padding: 10px;
                }
                .link-user,
                .link-like,
                .link-find-store{
                    display: block;
                    padding: 10px;
                }

                .link-find-store{
                    text-align: center;
                }
            }
        }
    }

    .active{
            display: flex;
    }
}
