header {
  padding: 22px 10px;
  display: flex;
  align-items: center;

  .logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 10px;

    img {     
      width: 100%;
      max-width: 159px;
      height: 20px;
    }

    .icons {
      display: flex;

      & span + span {
        margin-left: 40px;
      }
    }
  }
}