footer {
  background-color: #333333;
  padding: 60px 0;

  .content-newsletter button.mobile {
    display: none;
  }

  .content {
    max-width: 1465px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;    

    &-links {
      display: flex;
      flex: 1;
      max-width: 800px;
      justify-content: space-between;

      a {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }

    &-contact {
      max-width: 445px;
      display: flex;
      flex: 1;
      align-items: center;
    }

    &-medias {
      flex: 1;      
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-newsletter {
      width: 100%;
      padding: 35px 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border-top: 1px solid #5A5A5A;
      border-bottom: 1px solid #5A5A5A;
      

      h4 {
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #D5A368;
      }

      > div {
        width: 484px;
        height: 55px;
        border: 1px solid #D5A368;
        display: flex;
        padding: 5px;

        button {
          width: 124px;
          height: 100%;
          font-size: 12px;
          line-height: 16px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #000000;
          background: #D5A368;
          border: 0;
        }

        input {
          border: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
          padding-left: 7px;
         
          &::placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            text-align: center;
            line-height: 25px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
          }
        }
      }
    }

    .contact {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 278px;
      height: 45px;
      border: 1px solid #767676;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.2em;
      color: #FFFFFF;
      text-transform: uppercase;
      margin-left: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  footer .content {
    flex-direction: column-reverse;
  }

  footer .content-contact {
    flex-direction: column;
  }

  footer .content-medias {
    width: 100px;
  }

  footer .content .contact {
    margin-left: 0;
    margin-top: 25px;
  }

  footer .content-links {
    display: none;
  }

  footer .content-newsletter>div button {
    display: none;
  }

  footer .content-newsletter h4 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 25px;
  }

  footer .content-newsletter>div {
    max-width: 335px;
  }

  footer .content-newsletter button.mobile {
    display: block;
    width: 335px;
    height: 55px;
    background: #D5A368;
    border: 0;
    margin-top: 10px;
  }
}