* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex-v {
  display: flex;
  align-items: center;  
}

.white {
  color: #fff;
}

.circle-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #D5A368;
  margin-right: 12px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}