.find-store {
  position: relative;
  > img {
    width: 100%;
    height: 100%;
  }

  .description {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    span {
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.25em;
      color: #D5A368;
      text-transform: uppercase;
      display: block;
    }
    
    h4 {
      font-family: Playfair Display;
      font-style: normal;
      font-weight: bold;
      font-size: 80px;
      line-height: 96px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.1em;
      color: #FFFFFF;
    }

    .flex-v {
      justify-content: center;
      margin: 25px 0;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 769px) {
  .find-store {
    max-width: 100%;
    width: 100%;
  }

  .find-store>img {
    max-width: 100%;
    object-fit: cover;
  }

  .find-store .description {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;

    span {
      font-size: 18px;
      width: 96px;
      height: 22px;
      text-align: center;
      display: block;      
    }

    h4 {      
      font-size: 25px;
      line-height: 119.97%;      
      height: 54px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.1em;
    }    
  }

  .find-store .description .flex-v {
    margin: 15px 0;
    .circle-arrow {
      width: 35px;
      height: 35px;
    }
  }
}